@page
    ViewData["Title"] = "Download File";
}

<h2>Download File</h2>

<form method="post">
    <div>
        <label for="firstName">Ім'я</label>
        <input type="text" id="firstName" name="firstName" />
    </div>
    <div>
        <label for="lastName">Прізвище</label>
        <input type="text" id="lastName" name="lastName" />
    </div>
    <div>
        <label for="fileName">Назва файлу</label>
        <input type="text" id="fileName" name="fileName" />
    </div>
    <button type="submit">Продовжити</button>
</form>
